<!DOCTYPE html>
<html th:fragment="navbar" lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


<body style="background-color: coral">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.icon-icons.com/icons2/1103/PNG/512/wallet_78921.png" alt="" width="30" height="24" class="d-inline-block align-text-top">SimpleDemoCoinwallet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/create}" th:classappend="${#request.requestURI == '/create' ? 'active':''}">Create a new wallet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/view}" th:classappend="${#request.requestURI == '/view' ? 'active':''}">View wallets and exchange rate</a>
                </li>
            </ul>
            <form class="d-flex">

                <div>
                    <div sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-warning" type="submit" th:href="@{/oauth2/authorization/okta}" th:classappend="${#request.requestURI == '/login' ? 'active':''}"}>Login</a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <form id="logout-form" method="POST" action="#" th:action="@{/logout}">
                            <button class="btn btn-outline-warning" type="submit" >Logout</button>
                        </form>
                    </div>
                </div>

            </form>
        </div>
    </div>
</nav>


</div>
</body>
</html>