<!DOCTYPE html>
<html th:fragment="navbar" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body style="background-color: coral">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SimpleDemoCoinwallet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/create}" th:classappend="${#request.requestURI == '/create' ? 'active':''}">Create a new Wallet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/view}" th:classappend="${#request.requestURI == '/view' ? 'active':''}">View Wallets</a>
                </li>
            </ul>
            <form class="d-flex">
                <div>
                    <button class="btn btn-ligh" type="submit">Register</button>
                    <button class="btn btn-dark" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</nav>
<p></p>
<p></p>

<div style="text-align: center">
    <h2>Welcome to SimpleDemoCoinwallet</h2>

</div>
</body>
</html>